<!-- Form comment start -->
<form action="/create_comment_from_dish" method="post">
<!-- Form comment end -->

  <!-- Label and input for author_id start -->
  <div class="form-group">
    <label for="author_id">
      Author
    </label>

    <!-- Input for author_id start -->
    <%= select_tag(:author_id, options_from_collection_for_select(User.all, :id, :email, @comment.author_id), :class => "form-control") %>
    <!-- Input for author_id end -->
  </div>
  <!-- Label and input for author_id end -->

  <!-- Label and input for dish_id start -->
  <!-- Input for dish_id start -->
  <input type="hidden" name="dish_id" value="<%= @dish.id %>">
  <!-- Input for dish_id end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <!-- Input for description start -->
    <textarea id="description" name="description" class="form-control" rows="3"><%= @comment.description %></textarea>
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <button class="btn btn-block btn-outline-secondary">
    Create comment
  </button>
</form>
