<form action="/create_comment_from_dish" method="post">

  <input type="hidden" name="author_id" value="<%= current_user.id %>">

  <input type="hidden" name="dish_id" value="<%= @dish.id %>">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @comment.description %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create comment
  </button>
</form>
