<h1>
  Add a new meal plan
</h1>


<hr>

<form action="/create_meal_plan" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Create meal plan
  </button>
</form>

<hr>

<a href="/meal_plans">
  Go back
</a>
