<!-- Validation failure messages -->
<% if @meal_plan.present? %>
  <% if @meal_plan.errors.any? %>
    <% @meal_plan.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new meal plan
</h1>


<hr>

<!-- Form meal_plan start -->
<form action="/create_meal_plan" method="post">
<!-- Form meal_plan end -->

  <button class="btn btn-block btn-outline-secondary">
    Create meal plan
  </button>
</form>

<hr>

<a href="/meal_plans">
  Go back
</a>
